<!DOCTYPE html>
<html lang="en">
  <body>
    <h1>Index page..</h1>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Navigation bar</a>
        </div>
      </div>
    </nav>

    <div id="main-container" class="container">
      <div class="row">
        <div id="sidebar" class="col-xs-3">
            Side bar 1
        </div>
        <div id="content" class="col-xs-9">
          content
        </div>
      </div>
    </div>
  </body>
</html>
